mixin videoBlock(videod = {})
    .videoBlock
        a(href=routes.videoDetail(videod.id))
            video.videoBlock__thumbnail(src=videod.videoFile, controls=true)
            h4.videoBlock__title=videod.title
            if videod.views === 1
                h6.videoBlock__views 1 view
            else
                h6.videoBlock__views #{videod.views} views


//- mixin videoBlock(item = {})
//-     h1=item.title
//-     p=item.description
//- videoBlock__thumbnail 라는 태그가 존재함.